            :root {
                --logo: 48px;
                --menu: 24px;
                --margin-main: 64px;

                --title-h1: 64px;
                --title-p: 20px;
                --box-width: 24%;
                --pic-profile-height: 320px;
                --box-h1: 20px;
                --box-p: 16px;
                --pic_profile_big_width: 500px;
                --pic_profile_big_height: 400px;
                --pic_profile_small_width: 200px;
                --pic_profile_small_height: 400px;
                --margin-each-profile: 200px;
            }

            /* Background */

            .background {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                object-fit: cover;
                z-index: -1;
            }

            /* Extend background for scrolling */
            html,
            body {
                height: auto;
                min-height: 100vh;
                margin: 0;
                padding: 0;
            }



            /* Heading and menu */
            .header-pos {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                margin: 10px;
                margin-bottom: 64px;

            }

            .logo {
                height: 40px;
                width: auto;
            }

            .menu {
                height: 40px;
                font-size: 24px;
                /* Adjust the size as needed */
                color: white;
                /* Choose a color that stands out from your background */
            }





            /* Lines and Text Styling */

            .line {
                display: flex;
                justify-content: center;
                width: 100%;
            }

            .horizontal-line {
                height: 1px;
                background-color: white;
                width: 100%;
                margin: 0 64px;
            }

            .title-section {
                display: flex;
                justify-content: space-between;
                text-align: center;
                color: white;
                padding: 20px 0;
                margin: 0 64px;


                /* Space above and below the text */
            }

            .title-section h1 {
                margin: 0;
                padding: 0;
                font-size: 64px;

                /* Adjust size as needed */
            }

            .title-section p {
                margin: 0;
                padding: 0;
                font-size: 20px;
                text-align: right;
                /* Adjust size as needed */
            }





            /* Profile */

            .profile {
                display: flex;
                justify-content: space-between;
                /* Centers items and allows control over spacing with padding */
                flex-wrap: wrap;
                /* Allows boxes to wrap into the next line on smaller screens */
                margin: 64px 64px;
                align-items: flex-start;
            }


            .box {
                display: flex;
                flex-direction: column;
                /* Center items horizontally */
                text-align: left;
                /* Text align center */
                width: 24%;
                /* Assuming four boxes should fit horizontally */
                margin-bottom: 20px;
                /* Adds space below each box */
            }

            .pic_profile {
                height: 320px;
                /* Fixed height for all images */
                width: auto;
                /* Width automatically adjusts to maintain aspect ratio */
                object-fit: cover;
                /* Ensures the image covers the area without distorting the aspect ratio */
                border-top-left-radius: 0;
                /* Rounded top-left corner */
                border-top-right-radius: 30px;
                /* Rounded top-right corner */
                border-bottom-right-radius: 30px;
                /* Rounded bottom-right corner */
                border-bottom-left-radius: 30px;
                /* Square bottom-left corner */
            }


            .box h1 {
                border-radius: 20px;
                /* Rounded corners */
                transition: all 0.3s ease;
                /* Smooth transition for all properties */
                cursor: pointer;
                /* Indicates that the element is interactive */
                text-align: center;
                /* Center align text */
                margin: 10px;
                /* Spacing around each name element */
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                /* Subtle shadow for depth */
                color: white;
                margin-top: 12px;

                border: 2px solid white;
                /* Border width and color */
                border-radius: 40px;
                /* Roundness of the corners */
                padding: 8px 16px;
                /* Padding inside the border */
                display: inline-block;
                /* Optional: to give it a glow effect */
            }

            .box p {
                color: white;
                /* Adjust based on your design needs */
                font-size: 1rem;
                /* Readable text size */
                margin-top: 0;
                padding: 0 16px;
            }




            /* Each Profile */

            .each_profile {
                /* Centers items and allows control over spacing with padding */
                /* Allows boxes to wrap into the next line on smaller screens */
                margin: 200px 64px;
            }

            .each_profile_heading {
                color: white;
                font-weight: 700;
            }

            .each_profile_des {
                color: white;
                width: 50%;
                margin-top: 48px;
                margin-bottom: 32px;
            }

            .each_profile_box {
                flex-direction: column;
                text-align: left;
                width: 28%;
                margin-bottom: 20px;
                /* Adds space below each box */
            }

            .image_container {
                display: flex;
            }

            .panel {
                position: relative;
                background-size: cover;
                background-position: center;
                height: 400px;
                cursor: pointer;
                display: flex;
                align-items: flex-end;
                /* Align text at the bottom */
                justify-content: center;
                /* Center text horizontally */
                color: white;
                /* Ensure text is white */
                text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
                /* Text shadow for better visibility */
                transition: flex 0.5s ease-in;
                margin-right: 20px;
                border-radius: 30px;
                /* Consistent border radius */
                flex: 2;
                overflow: hidden;

            }


            .panel h1 {
                position: absolute;
                text-align: center;
                color: white;
                opacity: 0;
                /* Start as invisible */
                transform: translateY(20px);
                /* Start slightly lower */
                transition: opacity 0.5s ease, transform 0.5s ease;
                /* Smooth transition for opacity and transform */



            }

            .panel p {
                position: absolute;
                text-align: center;
                color: white;
                opacity: 0;
                /* Start as invisible */
                transform: translateY(20px);
                /* Start slightly lower */
                transition: opacity 0.2s ease, transform 0.2s ease;
                /* Smooth transition for opacity and transform */


            }

            .panel.active p {
                opacity: 1;
                /* Fully visible when active */
                transform: translateY(0);
                /* Move to its final position */
                right: calc(100% - 315px);
                transition-delay: 0.4s;
            }

            .panel.active h1 {
                opacity: 1;
                /* Fully visible when active */
                transform: translateY(0);
                /* Move to its final position */
                right: calc(100% - 200px);
                top: calc(100% - 100px);
                transition-delay: 0.4s;
            }


            .panel:not(.active) h1,
            .panel:not(.active) p {
                opacity: 0;
                /* Hide elements faster when not active */
                pointer-events: none;
                /* Disable interaction when not active */
                transition: none;
                /* No transition effect for disappearance */
            }

            .panel.active {
                flex: 5;
            }

            .big_pic {
                position: relative;
            }


            .big_pic .name {
                position: absolute;
                bottom: 15%;
                right: 62%;
            }

            .big_pic .description {
                position: absolute;
                bottom: 4%;
                right: 45%;
            }

            .small_pic {
                position: relative;
            }

            .small_pic .name {
                position: absolute;
                bottom: 5%;
            }

            .name h1,
            .description p {
                color: white;
                /* Or any color that fits the design */
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                /* Horizontal shadow, Vertical shadow, Blur, Color */
            }

            .pic_profile_big {
                width: 500px;
                height: 400px;
                object-fit: cover;
                border-top-left-radius: 0;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                border-bottom-left-radius: 30px;
            }

            .pic_profile_small {
                width: 200px;
                height: 400px;
                object-fit: cover;
                border-top-left-radius: 0;
                /* Rounded top-left corner */
                border-top-right-radius: 30px;
                /* Rounded top-right corner */
                border-bottom-right-radius: 30px;
                /* Rounded bottom-right corner */
                border-bottom-left-radius: 30px;
                /* Square bottom-left corner */
            }

            .each_profile_box h1 {
                color: white;
            }

            .each_profile_box p {
                color: white;

            }



            /* Image description */

            .image_container h1 {
                color: white;
                /* Adjust based on your design needs */
                margin-top: 12px;
                font-size: 1.5rem;
                /* Larger font size for visibility */

                transition: all 0.3s ease;
                /* Smooth transition for all properties */
                cursor: pointer;
                /* Indicates that the element is interactive */
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                /* Subtle shadow for depth */
                color: white;
                margin-top: 12px;
                border: 2px solid white;
                /* Border width and color */
                border-radius: 40px;
                /* Roundness of the corners */
                padding: 8px 16px;
                /* Padding inside the border */
                display: inline-block;
                /* Optional: to give it a glow effect */
                transition: all 0.3 ease;
            }


            .image_container p {
                color: white;
                /* Adjust based on your design needs */
                font-size: 1rem;
                /* Readable text size */
                margin-top: 0;
                padding: 0 16px;
            }



            /* Responsive */

            .container {
                max-width: 1536px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }

            /* 2xl */
            @media (max-width: 1536px) {
                .container {
                    max-width: 1280px;
                }

                .logo {
                    height: var(--logo);
                    /* Smaller logo */
                }

                .menu {
                    font-size: var(--menu);
                    /* Smaller menu icon */
                }

                .horizontal-line {
                    margin: 0 64px;
                }

                .title-section {
                    margin: 0 64px;
                }

                .title-section h1 {
                    font-size: var(--title-h1);
                }

                .title-section p {
                    font-size: var(--title-p);
                }



                .profile {
                    margin: 64px 64px;
                }

                .box {
                    width: 24%;
                    /* Adjusted to ensure fit */
                }

                .pic_profile {
                    height: var(--pic-profile-height);

                }

                .box h1 {
                    font-size: var(--box-h1);
                    padding: 8px 16px;
                }

                .box p {
                    font-size: var(--box-p);
                    padding: 0 16px;
                }

                .each_profile_heading h1 {
                    font-size: 48px;
                }

                .each_profile_des {
                    width: 60%;
                }

                .each_profile_des p {
                    font-size: 20px;
                }

                .pic_profile_big {
                    width: var(--pic_profile_big_width);
                    height: var(--pic_profile_big_height);
                }

                .pic_profile_small {
                    width: var(--pic_profile_small_width);
                    height: var(--pic_profile_small_height);
                }

                .image_container h1 {
                    margin-top: 12px;
                    font-size: 24px;
                    padding: 8px 16px;
                }

                .image_container p {
                    font-size: 16px;
                    padding: 0 16px;
                }

                .big_pic .name {
                    bottom: 15%;
                    right: 62%;
                }

                .big_pic .description {
                    bottom: 4%;
                    right: 42%;
                }

                .small_pic .name {
                    bottom: 5%;
                    right: 5%;
                }
            }

            /* xl */
            @media (max-width: 1280px) {
                .container {
                    max-width: 1024px;
                }

                .logo {
                    height: calc(0.85*var(--logo));
                }

                .menu {
                    font-size: calc(0.85*var(--menu));
                }

                .horizontal-line {
                    margin: 0 calc(0.85*var(--margin-main));
                }

                .title-section {
                    margin: 0 calc(0.85*var(--margin-main));

                }

                .title-section h1 {
                    font-size: calc(0.85*var(--title-h1));
                }

                .title-section p {
                    font-size: calc(0.85*var(--title-p));
                }

                .profile {
                    margin: calc(0.85*var(--margin-main)) calc(0.85*var(--margin-main));
                }

                .box {
                    width: 24%;
                }

                .pic_profile {
                    height: calc(0.85*var(--pic-profile-height));
                }

                .box h1 {
                    font-size: cal(0.85*var(--box-h1));
                }

                .box p {
                    font-size: cal(0.85*var(--box-p));
                }

                .each_profile {
                    margin: calc(0.85*var(--margin-each-profile)) calc(0.85*var(--margin-main));
                }

                .each_profile_heading h1 {
                    font-size: 40px;
                }

                .each_profile_des {
                    width: 70%;
                }

                .each_profile_des p {
                    font-size: 16px;
                }

                .pic_profile_big {
                    width: cal(0.85*var(--pic_profile_big_width));
                    height: calc(0.85*var(--pic_profile_big_height));
                }

                .pic_profile_small {
                    width: calc(0.85*var(--pic_profile_small_width));
                    height: calc(0.85*var(--pic_profile_small_height));
                }

                .image_container h1 {
                    font-size: 16px;

                }

                .image_container p {
                    font-size: 12px;
                }

                .panel h1,
                .panel p {
                    transform: translateY(20px);
                    /* Slightly larger initial movement */
                    opacity: 0;
                }

                .panel.active h1 {
                    transform: translateY(0);
                    /* Ensure they settle in the correct position */
                    right: 60%;
                    top: 75%;

                }

                .panel.active p {
                    transform: translateY(0);
                    right: 34%;
                    top: 90%;
                }



            }

            /* lg */
            @media (max-width: 1024px) {
                .container {
                    max-width: 768px;
                }

                .logo {
                    height: calc(0.65*var(--logo));
                }

                .menu {
                    font-size: calc(0.65*var(--menu));
                }

                .horizontal-line {
                    margin: 0 calc(0.65*var(--margin-main));
                }

                .title-section {
                    margin: 0 calc(0.65*var(--margin-main));

                }

                .title-section h1 {
                    font-size: calc(0.65*var(--title-h1));
                }

                .title-section p {
                    font-size: calc(0.65*var(--title-p));
                }

                .profile {
                    margin: calc(0.65*var(--margin-main)) calc(0.65*var(--margin-main));
                }

                .box {
                    width: 24%;
                }

                .pic_profile {
                    height: calc(0.65*var(--pic-profile-height));
                }

                .box h1 {
                    font-size: 12px;
                }

                .box p {
                    font-size: 10px;
                }

                .each_profile {
                    margin: calc(0.65*var(--margin-each-profile)) calc(0.65*var(--margin-main));
                }

                .each_profile_heading h1 {
                    font-size: 36px;
                }

                .each_profile_des p {
                    font-size: 16px;
                }

                .pic_profile_big {
                    width: cal(0.65*var(--pic_profile_big_width));
                    height: calc(0.65*var(--pic_profile_big_height));
                }

                .pic_profile_small {
                    width: calc(0.65*var(--pic_profile_small_width));
                    height: calc(0.65*var(--pic_profile_small_height));
                }

                .image_container h1 {
                    font-size: 12px;
                    padding: 8px 10px;
                }

                .image_container p {
                    font-size: 10px;
                }

                .panel h1 {}

                .panel p {
                    right: 34%;
                    font-size: 20px;
                }

                .panel h1,
                .panel p {
                    transform: translateY(20px);
                    /* Slightly larger initial movement */
                    opacity: 0;
                }

                .panel.active h1 {
                    transform: translateY(0);
                    /* Ensure they settle in the correct position */
                    right: 43%;
                    top: 73%;
                    font-size: 20px;

                }

                .panel.active p {
                    transform: translateY(0);
                    font-size: 14px;
                    right: 2%;
                    top: 89%;
                }
            }

            /* md */
            @media (max-width: 768px) {
                .container {
                    max-width: 640px;
                }

                .logo {
                    height: calc(0.53*var(--logo));
                }

                .menu {
                    font-size: calc(0.53*var(--menu));
                }

                .horizontal-line {
                    margin: 0 calc(0.53*var(--margin-main));
                }

                .title-section {
                    margin: 0 calc(0.53*var(--margin-main));

                }

                .title-section h1 {
                    font-size: calc(0.53*var(--title-h1));
                }

                .title-section p {
                    font-size: calc(0.53*var(--title-p));
                }

                .profile {

                    margin: calc(0.53*var(--margin-main)) calc(0.53*var(--margin-main));
                }

                .box {
                    width: 24%;
                }

                .pic_profile {
                    height: calc(0.53*var(--pic-profile-height));
                }

                .box h1 {
                    font-size: 10px;
                }

                .box p {
                    font-size: 10px;
                }

                .each_profile {
                    margin: calc(0.53*var(--margin-each-profile)) calc(0.53*var(--margin-main));
                }

                .each_profile_heading h1 {
                    font-size: 30px;
                }

                .each_profile_des {
                    width: 80%;
                }

                .each_profile_des p {
                    font-size: 14px;
                }

                .pic_profile_big {
                    width: cal(0.53*var(--pic_profile_big_width));
                    height: calc(0.53*var(--pic_profile_big_height));
                }

                .pic_profile_small {
                    width: calc(0.53*var(--pic_profile_small_width));
                    height: calc(0.53*var(--pic_profile_small_height));
                }

                .image_container h1 {
                    font-size: 10px;
                    padding: 8px 10px;
                }

                .image_container p {
                    font-size: 8px;
                }


                .panel h1,
                .panel p {
                    transform: translateY(20px);
                    /* Slightly larger initial movement */
                    opacity: 0;
                }

                .panel.active h1 {
                    transform: translateY(0);
                    /* Ensure they settle in the correct position */
                    right: 32%;
                    top: 75%;

                }

                .panel.active p {
                    transform: translateY(0);
                    right: -18%;
                    top: 90%;
                }
                
            }



            /* sm */
            @media (max-width: 640px) {
                .container {
                    max-width: 475px;
                }

                .logo {
                    height: calc(0.725 * var(--logo));
                    /* Smaller logo */
                }

                .menu {
                    font-size: calc(0.75 * var(--menu));
                    /* Reduce the menu icon size */
                }

                .horizontal-line {
                    margin: 0 calc(0.4*var(--margin-main));
                    /* Reduce side margins */
                }

                .title-section {
                    margin: 0 20px;
                    /* Reduce side margins */
                    flex-direction: column;
                    padding: 10px 0;
                }

                .title-section h1 {
                    font-size: calc(0.55 * var(--title-h1));
                    /* Reduce font size for title */
                }

                .title-section p {
                    font-size: calc(0.75 * var(--title-p));
                    text-align: center;
                    margin-top: 18px;
                    /* Adjust subtitle text size */
                }

                .profile {
                    margin: 80px calc(0.4*var(--margin-main));
                }

                .box {
                    width: 100%;
                    /* Full width for each box */
                }

                .pic_profile {
                    height: calc(1* var(--pic-profile-height));
                    /* Adjust image profile size */
                    border-top-left-radius: 30px;
                }

                .box h1 {
                    font-size: 10px;
                }

                .box p {
                    font-size: 10px;
                }

                .each_profile {
                    margin: calc(0.75*var(--margin-each-profile)) calc(0.4*var(--margin-main));
                }

                .each_profile_heading h1 {
                    font-size: 30px;
                    text-align: center;
                }

                .each_profile_des {
                    width: 100%;
                    text-align: center;
                }

                .each_profile_des p {
                    font-size: 14px;
                }

                .pic_profile_big {
                    width: 100%;
                    height: calc(1 * var(--pic-profile-height));
                    margin-bottom: 20px;
                    border-top-left-radius: 30px;
                }

                .pic_profile_small {
                    width: 100%;
                    height: calc(1*var(--pic-profile-height));
                    margin-bottom: 20px;
                    border-top-left-radius: 30px;

                }

                .image_container {
                    flex-direction: column;
                }

                .panel {
                    transition: none; /* Disable any transitions */
                    flex: none; /* Remove the flex grow/shrink settings */
                    margin: 0 0 20px 0;
                }

                .panel.active {
                    flex: none;
                }

                .panel.active h1 {
                    transition: none; /* Explicitly remove transitions when active */
                    pointer-events: auto; /* Ensure that text is always interactive */
                    opacity: 0;
                    right: 34%;
                    top: 73%;
                }

                .panel.active p {
                    right: 22%;
                    top: 89%;
                    opacity: 0;
                    transition: none; /* Explicitly remove transitions when active */
                    pointer-events: auto; /* Ensure that text is always interactive */
                }

                .panel:not(.active) h1, .panel:not(.active) p {
                    pointer-events: none;
                    transition: none;
                    right: 34%;
                    top: 73%;
                }

                .panel:not(.active) p{
                    right: 22%;
                    top: 89%;
                    
                }


            }

            /* xs */
            @media (max-width: 0) {
                .container {
                    width: 100%;
                }

                .logo {
                    height: calc(0* var(--logo));
                    /* Smaller logo */
                }

                .menu {
                    font-size: calc(0.75 * var(--menu));
                    /* Reduce the menu icon size */
                }

                .horizontal-line {
                    margin: 0 calc(0.4*var(--margin-main));
                    /* Reduce side margins */
                }

                .title-section {
                    margin: 0 20px;
                    /* Reduce side margins */
                    flex-direction: column;
                    padding: 10px 0;
                }

                .title-section h1 {
                    font-size: calc(0.55 * var(--title-h1));
                    /* Reduce font size for title */
                }

                .title-section p {
                    font-size: calc(0.75 * var(--title-p));
                    text-align: center;
                    margin-top: 18px;
                    /* Adjust subtitle text size */
                }

                .profile {
                    margin: calc(0.75*var(--margin-main)) calc(0.4*var(--margin-main));
                }

                .box {
                    width: 100%;
                    /* Full width for each box */
                }

                .pic_profile {
                    height: calc(1* var(--pic-profile-height));
                    /* Adjust image profile size */
                    border-top-left-radius: 30px;
                }

                .box h1 {
                    font-size: 10px;
                }

                .box p {
                    font-size: 10px;
                }

                .each_profile {
                    margin: calc(0.75*var(--margin-each-profile)) calc(0.4*var(--margin-main));
                }

                .each_profile_heading h1 {
                    font-size: 30px;
                    text-align: center;
                }

                .each_profile_des {
                    width: 100%;
                    text-align: center;
                }

                .each_profile_des p {
                    font-size: 14px;
                }

                .pic_profile_big {
                    width: 100%;
                    height: calc(1 * var(--pic-profile-height));
                    margin-bottom: 20px;
                    border-top-left-radius: 30px;
                }

                .pic_profile_small {
                    width: 100%;
                    height: calc(1*var(--pic-profile-height));
                    margin-bottom: 20px;
                    border-top-left-radius: 30px;

                }

                .image_container {
                    flex-direction: column;
                }

                .image_container h1 {
                    font-size: 20px;
                    padding: 8px 16px;
                }

                .image_container p {
                    font-size: 14px;
                    padding: 10px 0;
                }

                .big_pic .name {
                    bottom: 17%;
                    right: 33%;
                }

                .big_pic .description {
                    bottom: 4%;
                    right: 42%;
                }

                .small_pic .name {
                    bottom: 12%;
                    right: 31%;
                }
            }


             /* Profile image scaling and transition setup */
             .profile .box .pic_profile {
                transition: transform 0.3s ease;
                /* Smooth transition effect for scaling */
                transform-origin: center;
                /* Ensures the image scales from its center */
            }

            .profile .box .pic_profile:hover {
                transform: scale(1.03);
                /* Scale the image up inside its container */
                border-top-left-radius: 0;
                /* Rounded top-left corner */
                border-top-right-radius: 30px;
                /* Rounded top-right corner */
                border-bottom-right-radius: 30px;
                /* Rounded bottom-right corner */
                border-bottom-left-radius: 30px;
                /* Square bottom-left corner */
            }

            /* Button hovering  */
            .box h1:hover {
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
                /* Larger shadow for a 'lifted' effect */
                transform: translateY(-2px);
                /* Slightly raise the element */
            }

            .image_container h1:hover {
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
                /* Larger shadow for a 'lifted' effect */
                transform: translateY(-2px);
                /* Slightly raise the element */
            }