body{
    font-family: "Epilogue", sans-serif;
    font-weight: 600;
}

.background{ 
    background: url('../pic/background.png') no-repeat center center fixed; 
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    column-gap: 50px;
}

.formlink {
    top: 3rem;
    left: 2rem;
}

.link{
    padding: 10%;
}

span {
    background: linear-gradient(0deg, rgba(0, 15, 98, 1), rgba(8, 84, 185, 1)) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
}

span:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
   
span {
    text-decoration: none;
    color: inherit;
    line-height: 1;
  }