body {
  font-size: 20px;
}

.background {
  /* Set the background image or color */
  background-image: url('../pic/1.jpg'); /* or background-color: #XXXXXX; */
  background-size: cover; /* Ensure the background covers the entire area */
  background-position: center; /* Center the background image */
  height: 100vh; /* Set the height to the viewport height */

}

.content{
  padding: 5%;
}

.page-content{
  padding: 10%;
}
  
.proj-nums {
  font-size: 3vw; /* Responsive heading size */
  padding: auto;
}

.intro {
  padding: 5%;
}

  
