body {
  font-size: 20px;
}

.container {
  position: relative; /* Set position relative for absolute positioning */
}

.page-content{
  padding: 10%;
}
  
.proj-nums {
  font-size: 5vw; /* Responsive heading size */
  padding: auto;
}

  
