.toggle-list {
    font-size: 24px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  li.active {
    background-color: aliceblue;
    padding: 10px;
  }
  
  .additional-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    padding: 10px;
    font-size: 2vmin;
  }

  .image-item {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  .image-item{
    width: 100px;
    height: 100px;
  }
  